/* The slider itself */
.range-slider {
  --slider-height: 15px;
  appearance: none;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 450px; /* Full-width */
  height: var(--slider-height); /* Specified height */
  background: #d4d4d7; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
  transition: opacity 0.2s;
  border-radius: 15px;
  box-shadow: inset 1px 1px 5px #000000;
}

/* Mouse-over effects */
.range-slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: calc(var(--slider-height) + (var(--slider-height) / 2)); /* Set a specific slider handle width */
  height: calc(var(--slider-height) + (var(--slider-height) / 2)); /* Slider handle height */
  border-radius: calc(var(--slider-height) + (var(--slider-height) / 2));
  background: #1383ec77; /* Green background */
  cursor: pointer; /* Cursor on hover */
  box-shadow: inset 1px 1px 5px #000000;
}

.range-slider::-moz-range-thumb {
  width: calc(var(--slider-height) + (var(--slider-height) / 2)); /* Set a specific slider handle width */
  height: calc(var(--slider-height) + (var(--slider-height) / 2)); /* Slider handle height */
  border-radius: calc(var(--slider-height) + (var(--slider-height) / 2));
  background: #9e9e9e;
  cursor: pointer; /* Cursor on hover */
  outline: none;
  border: none;
  box-shadow: inset -1px -1px 7px #000000;
}
